/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Global reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #fbf6e6;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Background shapes */
.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
}

.blue {
    width: 600px;
    height: 600px;
    background: #9dd9e0;
    top: -100px;
    left: 50px;
}

.pink {
    width: 650px;
    height: 650px;
    background: #f2a7b1;
    top: -240px;
    right: 30px;
}

.green {
    width: 450px;
    height: 450px;
    background: #c7dd9c;
    bottom: 60px;
    left: 180px;
}

.yellow {
    width: 350px;
    height: 350px;
    background: #f6d38b;
    bottom: 180px;
    right: 380px;
}

/* Card */
.login-card {
    position: relative;
    width: 480px;
    padding: 90px;
    border-radius: 25px;
    background: linear-gradient(135deg, #f6fbff, #fff2cc);
    border: 0.2px solid white;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.logo {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
    cursor: pointer;
}

/* Texts */
.login-card h1 {
    font-size: 28px;
    font-weight: 600;
    color: #102C3D;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 35px;
}

.subtitle a {
    color: #50AECF;
    text-decoration: none;
    font-weight: 550;
}

.subtitle a:hover {
    color: #1385ae;
}

/* Form */
form {
    margin-top: 40px;
}

label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    margin-bottom: 18px;
    outline: none;
    font-size: 14px;
    background: #fff;
}

.password-field {
    position: relative;
}

.password-field input {
    padding-right: 45px;
}

.eye {
    position: absolute;
    right: 18px;
    top: 35.5%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.6;
    width: 18px;
}

.eye:hover {
    opacity: 1;
}

/* Button */
button {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: #F5C659;
    font-size: 17px;
    font-weight: 530;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #eab84b;
}

/* Forgot password */
.forgot {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.forgot a {
    color: #50AECF;
    text-decoration: none;
    font-weight: 550;
}

.forgot a:hover {
    color: #1385ae;
}