@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #fbf6e6;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Background shapes */
.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
}

.blue {
    width: 600px;
    height: 600px;
    background: #9dd9e0;
    top: -100px;
    left: 50px;
}

.pink {
    width: 650px;
    height: 650px;
    background: #f2a7b1;
    top: -240px;
    right: 30px;
}

.green {
    width: 450px;
    height: 450px;
    background: #c7dd9c;
    bottom: 60px;
    left: 180px;
}

.yellow {
    width: 350px;
    height: 350px;
    background: #f6d38b;
    bottom: 180px;
    right: 380px;
}

/* Card */
.login-card {
    width: 670px;
    padding: 60px;
    border-radius: 25px;
    z-index: 10;

    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    border: 1px solid rgba(255,255,255,0.4);
}

/* Logo */
.logo {
    display: block;
    margin: 0 auto 30px;
    width: 100px;
    cursor: pointer;
}

/* Layout */
.success-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Monster */
.monster {
    width: 200px;
    cursor: pointer;
}

/* animation */
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-4px); }
    40% { transform: translateX(4px); }
    60% { transform: translateX(-4px); }
    80% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.monster.shake {
    animation: shake 0.4s;
}

/* Text */
.text h1 {
    font-size: 28px;
    color: #102C3D;
    margin-bottom: 10px;
    font-weight: 600;
}

.text p {
    font-size: 14px;
    color: #6b6b6b;
    margin-bottom: 25px;
}

/* Button */
button {
    padding: 14px 35px;
    border-radius: 30px;
    border: none;
    background: #F5C659;
    font-size: 17px;
    font-weight: 530;
    cursor: pointer;
}

button:hover {
    background: #eab84b;
}
